name: Test-self-hosted

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
      - 'main'
  pull_request:
    branches:
      - '*'

jobs:
  test-none:
    runs-on: self-hosted
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: ./
      - run: |
          # . ~/.bashrc
          . ~/.sdkman/bin/sdkman-init.sh
          sdk version

  test-single:
    runs-on: self-hosted
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: ./
        with:
          deps: kscript
          cache: false

      - uses: actions/cache@v2
        with:
          path: ~/.kscript
          key: ${{ runner.os }}-${{ github.action }}-kscript

      - run: kscript 'println("Kscript works via sdkman")'
      - run: kscript -v
      - run: |
          tr ':' \\n <<< "$PATH"
          which java
          java -version
          which kotlinc
          kotlinc -version
  test-multiple:
    runs-on: self-hosted
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: ./
        with:
          deps: kscript
      - uses: actions/cache@v3
        with:
          path: ~/.kscript
          key: ${{ runner.os }}-${{ github.action }}-kscript

      - run: kscript -v
      - uses: ./
        with:
          deps: |
            java kscript
            kscript
            kscript java
      - run: kscript -v
      - run: kscript 'println("Kscript works via sdkman")'
      - run: |
          tr ':' \\n <<< "$PATH"
          which java
          java -version
          which kotlinc
          kotlinc -version
